{% macro input(name, type, placeholder, context) %}
    <div class="control-group {% if attribute(context.errors, name) is defined %}error{% endif %}">
        <input type="{{ type }}" name="{{ name }}" value="{{ app.request.get(name) }}" class="input-block-level" placeholder="{{ placeholder }}" />
        {% if attribute(context.errors, name) is defined %}
            {% for msg in attribute(context.errors, name) %}
                <span class="help-block">{{ msg }}</span>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}