<!DOCTYPE html>
<html>
<head>
    <title>cspro dev</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <style type="text/css">


    </style>
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/main.css" rel="stylesheet" media="screen">
    <script src="/js/jquery-1.9.1.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/"><b>Dja demo app</b></a>
            <div class="nav-collapse collapse pull-right">
                <ul class="nav">
                    <li><a href="/features">Features</a></li>
                    <li><a href="/support">Help & Support</a></li>
                </ul>
                <div class="btn-group pull-right">
                    {% if app.user.isAuthenticated %}
                    <a href="/logout" class="btn">Logout</a>
                    {% else %}
                    <a href="/sign-in" class="btn">Sign-in</a>
                    <a href="/sign-up" class="btn">Sign-up</a>
                    {% endif %}
                </div>
                {% if app.user.isAuthenticated %}
                <p class="navbar-text pull-right" style="border-left: 1px solid #d4d4d4; padding: 0 6px 0 22px;">
                    Logged in as <a href="#" class="navbar-link"><strong>{{ app.user }}</strong></a> &nbsp;
                </p>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-error">{{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info">{{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert">{{ flashMessage }}</div>
    {% endfor %}

    {% block content %}{% endblock %}

    {#<hr>
    <footer>
        <div class="row-fluid">
            <div class="span2 offset1">
                <h5>Dja</h5>
                <ul class="unstyled">
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Our Partners</a></li>
                    <li><a href="#">Team</a></li>
                </ul>
            </div>
            <div class="span2">
                <h5>Help</h5>
                <ul class="unstyled">
                    <li><a href="#">F.A.Q.</a></li>
                    <li><a href="#">Knowledge base</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="span2">
                <h5>Contacts</h5>
                <ul class="unstyled">
                    <li><a href="#">Mail us</a></li>
                </ul>
            </div>
            <div class="span3 offset2">
                <h5>Follow</h5>
                <ul class="unstyled">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
        </div>
    </footer>#}
</div> <!-- /container -->
</body>
</html>