{% extends "layout.twig" %}
{% import 'forms.twig' as forms %}
{% block content %}
<br>
<form class="form-signin" method="post">
    <h2 class="form-signin-heading">Please sign up</h2>
    {% if error %}<div class="alert alert-error">{{ error }}</div>{% endif %}
    {{ forms.input('email', 'text', 'Email address', _context) }}
    {{ forms.input('password', 'password', 'Password', _context) }}
    {{ forms.input('password2', 'password', 'Password repeat', _context) }}
    <div class="control-group">
        <select id="role_id_select" name="role_id" style="display: none;">
            {% for role_id, role_name in roles %}<option value="{{ role_id }}">{{ role_name }}</option>{% endfor %}
        </select>
        <div class="btn-group" style="width: 100%;">
            <button id="role_id_view" class="btn dropdown-toggle" data-toggle="dropdown" style="width: 100%;">
                Role: {{ roles|first }}
                <span class="caret pull-right"></span>
            </button>
            <ul class="dropdown-menu" style="width: 100%;">
                {% for role_id, role_name in roles %}
                    <li><a href="javascript:setCurrentRole({{ role_id }})">{{ role_name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {{ forms.input('full_name', 'text', 'Full name', _context) }}
    <div class="control-group row-fluid">
        <button class="btn btn-large btn-primary span12" type="submit">Create account</button>
    </div>
</form>
<script type="text/javascript">
    var roles = {{ roles|json_encode|raw }};
    var current_role = '{{ app.request.get('role_id', 2) }}';
    function setCurrentRole(v){
        $('#role_id_select').val(v);
        $('#role_id_view').html('Role: <b>' + roles[v] + '</b> <span class="caret pull-right"></span>');
    }
    $(function(){
        setCurrentRole(current_role);
    });
</script>
{% endblock %}
